<mat-card class="employee">
  <mat-card-header>
  <mat-card-title>
      {{employee.lastName}}, {{employee.firstName}}
  </mat-card-title>
    <mat-card-subtitle>Employee ID:{{employee.id}} Direct Reports:{{directReports}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
    </dl>
    <dl>
      <dt>Compensation</dt>
      <dd>${{employee.compensation}}K</dd>
    </dl>
    <h2>Direct Reports:</h2>
    <dd *ngIf="!directReportsData || directReportsData.length === 0"><span>This employee has no reports.</span></dd>
    <table class="table">
      <tr *ngFor="let emp of directReportsData" scope="col" style="border: none;">
      <td>
        <span>{{emp.firstName}} {{emp.lastName}}, {{emp.position}}</span>
      </td>
        <mat-icon (click)="openDialog1()" data-toggle="modal" data-target="#exampleModal" style="float:right;">delete</mat-icon>
        <mat-icon (click)="openDialog()" data-toggle="modal" data-target="#exampleModal" style="float:right;">edit</mat-icon>
      </tr>
    </table>
    </mat-card-content>
</mat-card>


<ng-template #content let-modal>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">[name]</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <canvas id="myChart" width="1000" height="500"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">any action</button>
      </div>
    </div>
  </div>

</ng-template>


<!-- <ng-template #edit let-modal>
  <div class="modal-header" id="editReport">
      <center><h1 class="editModaltitle">UPDATE COMPENSATION</h1></center>
  </div>
</ng-template> -->


   <!-- <form [formGroup] = "service.form" class="normal-form">
   <mat-grid-list cols="2" rowHeight="300px">
     <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field>
          <input formControlName="firstName" matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="lastName" matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="compensation" matInput placeholder="Compensation">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="position" matInput placeholder="Position">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="id" matInput placeholder="Id">
        </mat-form-field>
      </div>
     </mat-grid-tile>
     <mat-grid-tile>
     </mat-grid-tile>
    </mat-grid-list>
    </form> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Emloyee Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">firstName</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">lastName</label>
            <input type="text" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div> -->


<!-- <th>Direct Reports:</th> -->

    <!-- <input type="number" (keyup)="getVal($event.target.value)" /> -->
    <!-- <p-footer>
      <button pButton type="button" Label="Edit" icon="pi pi-check" style="margin-right: .25em" (click)="editEmployee()"></button>
      <button pButton type="button" Label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="deleteEmployee()"></button>
    </p-footer> -->





