.mat-card{
  padding: 500px;
}


.mat-card-title{
  text-align: left;
  color: lightseagreen;
}

th {
  border: 1px solid #ddd;
  padding: 450px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

h2{
  background-color: rgb(105, 225, 230);
  text-align: left;
  width: 900px;
}
