.employee-list-title {
  text-align: center;
  color: #0066BB;
  padding-top: 40px;
  border-top: 1px solid #cccccc;
  margin-top: 20px;
}

.employee-list-title h1 {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 28px;
  margin-bottom: 0;
}

.employee-list-container ::ng-deep .mat-card-header .mat-card-header-text {
  margin: 0;
}

.employee-list-container ::ng-deep mat-grid-list {
  border-radius: 4px;
  margin: 40px 0;
  padding: 20px 0;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
