.employee-container ::ng-deep .mat-card-header .mat-card-header-text .mat-card-title {
  text-align: left;
  color: #0066BB;
  margin-bottom: 20px;
}

.employee-container ::ng-deep .mat-card-content dl {
  margin-top: 20px;
  margin-right: 40px;
}

.employee-container ::ng-deep .mat-card-content dd.employee-no-reports {
  padding: 10px 20px;
}

.employee-container .mat-card-header {
  border-bottom: 1px solid #cccccc;
}

.employee-container {
  border: 0;
  box-shadow: unset;
}

.employee-container .mat-card {
  padding: 20px;
  background-color: #f2f2f2;
}

.employee-container th {
  border: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #0066BB;
  color: white;
}

.employee-container tr:nth-child(even) {
  background-color: #F8F9FA;
}

.employee-container tr:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}

.employee-container tr {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 5px 15px;
}

.employee-container h2 {
  background-color: #6C757D;
  color: #ffffff;
  text-align: left;
  width: 980px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.employee-container ::ng-deep mat-icon {
  height: 18px;
  width: 18px;
}

.employee-container ::ng-deep mat-icon:first-of-type {
  margin-right: 20px;
}

.employee-container ::ng-deep mat-icon:hover {
  color: #0066BB;
}

::ng-deep mat-dialog-container {
  overflow: hidden!important;
}

::ng-deep mat-dialog-container .employee-dialog .mat-dialog-title {
  font-weight: 500;
  color: #0066BB;
  text-align: center;
}

::ng-deep mat-dialog-container .employee-dialog .mat-grid-tile,
::ng-deep mat-dialog-container .employee-dialog .mat-form-field {
  width: 100%!important;
}

::ng-deep mat-dialog-container .employee-dialog .mat-dialog-actions {
  justify-content: flex-end;
  margin-bottom: -10px;
}

::ng-deep mat-dialog-container .employee-dialog .mat-dialog-actions button {
  color: #ffffff;
  background-color: #6C757D;
}

::ng-deep mat-dialog-container .employee-dialog .mat-dialog-actions button:hover {
  color: #ffffff;
  background-color: #0066BB;
}

::ng-deep mat-dialog-container .employee-dialog input:read-only {
  color: #cccccc;
}

::ng-deep mat-dialog-container .employee-dialog mat-grid-tile .controles-container {
  padding: 0;
}

::ng-deep mat-dialog-container .employee-dialog .employee-dialog-logo {
  text-align: center;
  margin-bottom: 20px;
}

::ng-deep mat-dialog-container .employee-dialog .employee-dialog-logo img {
  max-width: 100px;
}
